@keyframes fadeEffect {
  from {
    opacity: .9;
  }
  to {
    opacity: 1;
  }
}

.link-content {
  display: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Dosis', sans-serif;
  background-image: url("/images/header2.jpeg");
  height: 100vh;
  background-size: cover;
  background-position: top center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

h1 {
  font-family: 'Tangerine', cursive;
  font-size: 70px;
  font-weight: 700;
  color: #2B3C83;
  text-align: center;
  margin: 25% 0;
}

nav {
  height: auto;
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
  background-color: #6675B0;
}

nav button {
  display: inline-block;
  font-size: 25px;
  color: #fff;
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  margin-right: 20px;
}

nav button:hover {
  background-color: #ccc;
}

nav button:focus {
  outline: none;
}

.about {
  background-color: #fff;
  text-align: center;
  min-height: 100vh;
  display: none;
  padding: 50px 0;
  animation: fadeEffect 1s;
  padding-bottom: 0;
}

.about h2 {
  margin: 0;
  padding: 15px;
  color: #6675B0;
  font-size: 35px;
}

.about p {
  width: 700px;
  margin: 0 auto;
  font-size: 20px;
}

.about .team {
  padding: 50px;
}

.about .team h3 {
  margin-bottom: 35px;
  color: #6675B0;
  font-size: 30px;
}

.about .team .person {
  width: 250px;
  height: 200px;
  margin: 0 auto;
  perspective: 1000px;
  background-color: transparent;
  border: 1px solid #6675B0;
  padding: 5px;
}

.about .team .person .flip {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.about .team .person:hover .flip {
  transform: rotateY(180deg);
}

.about .team .person .flip-front, .about .team .person .flip-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.about .team .person .flip-front img {
  width: 100%;
  height: 100%;
}

.about .team .person .flip-back {
  text-align: center;
  background-color: #6675B0;
  transform: rotateY(180deg);
}

.about .team .person .flip-back h4 {
  color: #fff;
  margin-top: 50px;
}

.about .team .person .flip-back p {
  color: #fff;
  font-size: 15px;
  text-align: center;
  margin-top: 15px;
  width: auto;
}

.about .team .person .flip-back i {
  color: #fff;
  font-size: 15px;
  margin: 10px;
  cursor: pointer;
}

.about .team .person .flip-back i:hover {
  color: #2B3C83;
  transform: scale(1.3);
}

.about .facts {
  height: 50vh;
  background-color: #6675B0;
  padding: 30px;
}

.about .facts .fact {
  width: 300px;
  height: 250px;
  padding: 35px;
  margin-left: 53%;
}

.about .facts .fact i {
  font-size: 70px;
  color: #2B3C83;
  margin-bottom: 15px;
}

.about .facts .fact h4 {
  font-size: 35px;
  color: #fff;
  font-weight: 700;
}

.about .facts .fact p {
  font-size: 30px;
  color: #2B3C83;
  margin: 0;
  width: auto;
}

.gallery {
  background-color: #fff;
  text-align: center;
  min-height: 100vh;
  display: none;
  padding: 50px 0;
  animation: fadeEffect 1s;
}

.gallery h2 {
  margin: 0;
  padding: 15px;
}

.gallery p {
  width: 600px;
  margin: 0 auto;
}

.contact {
  background-color: #fff;
  text-align: center;
  min-height: 100vh;
  display: none;
  padding: 50px 0;
  animation: fadeEffect 1s;
}

.contact h2 {
  color: #6675B0;
  font-size: 35px;
  margin-bottom: 20px;
}

.contact p {
  font-size: 20px;
  margin-bottom: 25px;
}

.contact h3 {
  font-size: 30px;
  margin-bottom: 50px;
}

.contact form {
  margin-bottom: 50px;
}

.contact form input, .contact form textarea {
  display: block;
  margin: 20px auto;
  text-align: center;
  width: 300px;
  border: none;
  border-bottom: 1px solid #6675B0;
}

.contact form input:focus, .contact form textarea:focus {
  outline: none;
  border-bottom: 1px solid #2B3C83;
}

.contact .socials i {
  font-size: 35px;
  color: #6675B0;
  margin: 10px;
  cursor: pointer;
}

.contact .socials i:hover {
  transform: scale(1.3);
  color: #2B3C83;
}

footer {
  background-color: #2B3C83;
  text-align: center;
  height: 50px;
  line-height: 50px;
  color: #fff;
}

/*# sourceMappingURL=style.css.map */