@keyframes pulseShadow {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.2);
  }
  100% {
    box-shadow: 0 0 0 35px rgba(0, 0, 0, 0);
  }
}

.link-content {
  display: none;
}

.container-fluid {
  height: auto;
}

/** {
	border: 1px solid black;
}*/
body {
  margin: 0;
  padding: 0;
  font-family: 'Dosis', sans-serif;
  background-image: url("/images/header.jpeg");
  height: 100vh;
  background-size: cover;
  background-position: top center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

header {
  height: 100vh;
  text-align: center;
}

header h1 {
  font-family: 'Tangerine', cursive;
  font-size: 65px;
  color: #fff;
  padding-top: 400px;
}

header i {
  border: none;
  color: #fff;
  font-size: 45px;
  padding: 5px;
  width: 60px;
  height: 60px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  animation: pulseShadow 1.5s infinite;
  cursor: pointer;
}

nav {
  margin: 0;
  padding: 20px;
  width: 100%;
  text-align: left;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
}

nav button {
  display: inline-block;
  font-size: 18px;
  color: #323031;
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 0 10px;
}

nav button.active {
  border-bottom: 2px solid #DDCA7D;
}

nav button:focus {
  outline: none;
}

.about {
  background-color: #fff;
  text-align: center;
  min-height: 100vh;
  display: none;
  padding: 50px 0;
  padding-bottom: 0;
}

.about h2 {
  margin: 0;
  padding: 15px;
  color: #323031;
  font-size: 35px;
}

.about .desc {
  margin: 0 auto;
  min-height: 65vh;
  max-width: 80%;
}

.about .desc p {
  margin: 0 auto;
  font-size: 18px;
}

.about .desc .quote p {
  font-size: 55px;
  font-family: 'Tangerine', cursive;
  color: rgba(0, 0, 0, 0.7);
  margin-top: 55px;
}

.about .desc .quote i {
  font-size: 40px;
  color: rgba(0, 0, 0, 0.5);
}

.about .offer {
  background-color: #fff;
  height: auto;
  padding: 70px 0;
}

.about .offer h3 {
  font-size: 35px;
  color: #323031;
  margin-bottom: 35px;
}

.about .offer .details {
  margin: 0 auto;
}

.about .offer .details h4 {
  font-size: 45px;
  margin-bottom: 10px;
  color: #323031;
  font-family: 'Tangerine', cursive;
}

.about .offer .details h4 i {
  color: #DDCA7D;
  font-size: 30px;
  margin-right: 5px;
}

.about .offer .details p {
  font-size: 15px;
  margin: 5px 0;
  width: auto;
}

.about .offer .details p:last-of-type {
  margin-bottom: 35px;
}

.about .offer .details span {
  font-size: 40px;
  font-family: 'Tangerine', cursive;
  color: #323031;
}

.about .offer .offer_img {
  margin: 35px auto;
  position: relative;
  min-height: 399px;
  overflow: hidden;
}

.about .offer .offer_img .img_slides {
  position: absolute;
  transition: opacity .5s ease-in;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  max-width: 100%;
  height: auto;
  opacity: 0;
}

.about .facts {
  height: auto;
  background-image: url("/images/bg_forest.jpg");
  padding: 30px;
}

.about .facts .fact {
  width: auto;
  height: 250px;
  padding: 35px;
  margin: 0 auto;
  text-align: center;
}

.about .facts .fact i {
  font-size: 60px;
  color: #fff;
  margin-bottom: 15px;
}

.about .facts .fact h4 {
  font-size: 40px;
  color: #DDCA7D;
  font-weight: 700;
}

.about .facts .fact p {
  font-size: 45px;
  color: #fff;
  margin: 0;
  width: auto;
  font-family: 'Tangerine', cursive;
}

.about .team {
  padding: 50px;
  background-color: #fff;
}

.about .team h3 {
  margin-bottom: 35px;
  color: #323031;
  font-size: 30px;
}

.about .team .person {
  width: 250px;
  height: 200px;
  margin: 0 auto;
  perspective: 1000px;
  background-color: transparent;
  border: 1px solid #323031;
  border-radius: 10px;
  padding: 5px;
}

.about .team .person .flip {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.about .team .person:hover .flip {
  transform: rotateY(180deg);
}

.about .team .person .flip-front, .about .team .person .flip-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.about .team .person .flip-front img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.about .team .person .flip-back {
  text-align: center;
  background-color: #323031;
  transform: rotateY(180deg);
  border-radius: 10px;
}

.about .team .person .flip-back h4 {
  color: #fff;
  margin-top: 50px;
}

.about .team .person .flip-back p {
  color: #fff;
  font-size: 15px;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 0;
  width: auto;
  padding: 0;
}

.about .team .person .flip-back i {
  color: #fff;
  font-size: 15px;
  margin: 10px;
  cursor: pointer;
}

.about .team .person .flip-back i:hover {
  transform: scale(1.3);
  color: #DDCA7D;
}

.gallery {
  background-color: #fff;
  text-align: center;
  min-height: 100vh;
  display: none;
  padding: 50px 0;
}

.gallery h2 {
  margin: 0;
  padding: 15px;
}

.gallery p {
  max-width: 600px;
  margin: 0 auto;
}

.gallery .gallery_imgs {
  margin: 50px 0;
}

.gallery .gallery_imgs .gallery-item {
  width: 300px;
  height: 210px;
  margin: 25px auto;
}

.gallery .gallery_imgs .gallery-item img {
  width: 100%;
  height: 100%;
}

.contact {
  background-color: #fff;
  text-align: center;
  min-height: 100vh;
  display: none;
  padding: 50px 0;
}

.contact h2 {
  color: #323031;
  font-size: 35px;
  margin-bottom: 20px;
}

.contact p {
  font-size: 20px;
  margin-bottom: 25px;
}

.contact h3 {
  font-size: 30px;
  margin-bottom: 50px;
}

.contact form {
  margin-bottom: 50px;
}

.contact form input, .contact form textarea {
  display: block;
  margin: 20px auto;
  text-align: center;
  width: 300px;
  border: none;
  border-bottom: 1px solid #323031;
}

.contact form input:focus, .contact form textarea:focus {
  outline: none;
  border-bottom: 1px solid #323031;
}

.contact .socials i {
  font-size: 35px;
  color: #323031;
  margin: 10px;
  cursor: pointer;
}

.contact .socials i:hover {
  transform: scale(1.3);
}

footer {
  background-color: #323031;
  text-align: center;
  height: 50px;
  line-height: 50px;
  color: #fff;
}

@media (max-width: 767px) {
  nav {
    text-align: center;
  }
  .about .desc {
    height: auto;
  }
  .about .desc .quote p {
    font-size: 35px;
  }
  .about .offer {
    margin: 55px 0;
    padding-bottom: 0;
    padding-top: 0;
    height: auto;
  }
  .about .offer .details {
    padding: 0;
  }
  .about .offer .offer_img {
    display: none;
  }
  .about .facts {
    background-image: none;
    background-color: #323031;
  }
  .about .team {
    padding: 25px;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .about .offer .offer_img {
    margin-top: 50px;
  }
  .about .offer .offer_img .img_slides {
    margin: 0 auto;
  }
  .about .facts {
    padding-left: 0;
    padding-right: 0;
  }
  .about .facts .fact i {
    font-size: 55px;
  }
  .about .facts .fact h4 {
    font-size: 35px;
  }
  .about .facts .fact p {
    font-size: 25px;
  }
  .about .team .person {
    margin: 15px auto;
  }
  .gallery .gallery_imgs .gallery-item {
    width: 600px;
    height: 399px;
  }
}

/*# sourceMappingURL=style.css.map */