//General styles

@mixin section_params {
	background-color: #fff;
	text-align: center;
	min-height: 100vh;
	display: none;
	padding: 50px 0;
}

$basic_color: #323031;
$accent_color: #DDCA7D;
@mixin accent_font {
	font-family: 'Tangerine', cursive;
	font-size: 55px;
}

@keyframes pulseShadow {
	0% {
		box-shadow: 0 0 0 0 rgba(255,255,255, 0.2);
	}

	100% {
		box-shadow: 0 0 0 35px rgba(0, 0, 0, 0);
	}
}

.link-content {
	display: none;
}

.container-fluid {
	padding: 0;
}

[class*="col-"] {
	padding: 0;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}


body {
	margin: 0;
	padding: 0;
	font-family: 'Dosis', sans-serif;
	background-image: url("https://images.pexels.com/photos/1455392/pexels-photo-1455392.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
	height: 100vh;
	background-size: cover;
	background-position: top center;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

//Header styles

header {
	height: 100vh;
	text-align: center;

	h1 {
		@include accent_font;
		font-size: 65px;
		color: #fff;
		padding-top: 400px;
	}

	i {
		border: none;
		color: #fff;
		font-size: 45px;
		padding: 5px;
		width: 60px;
		height: 60px;
		background-color: rgba(255,255,255, 0.3);
		border-radius: 50%;
		animation: pulseShadow 1.5s infinite;
		cursor: pointer;
	}
}

// Navigation

nav {
	margin: 0;
	padding: 20px;
	width: 100%;
	text-align: left;
	background-color: #fff;
	border-bottom: 1px solid #ccc;

	button {
		display: inline-block;
		font-size: 18px;
		color: $basic_color;
		background-color: inherit;
		border: none;
		outline: none;
		cursor: pointer;
		margin: 0 10px;

		&.active {
			border-bottom: 2px solid #DDCA7D;
		}

		&:focus {
			outline: none;
		}
	}
}

//About Us section

.about {
	@include section_params;
	padding-bottom: 0;

	h2 {
		margin: 0;
		padding: 15px;
		color: $basic_color;
		@include accent_font;

	}

	.desc {
		margin: 0 auto;
		min-height: 65vh;
		max-width: 80%;
		border-bottom: 1px solid #bbb;

		p {
			margin: 10px auto;
			font-size: 18px;
		}

		.quote {
			p {
				@include accent_font;
				color: rgba(0, 0, 0, .7);
				margin-top: 55px;
			}

			i {
				font-size: 40px;
				color: rgba(0, 0, 0, .5);
			}
		}
	}

	.offer {
		background-color: #fff;
		height: auto;
		padding: 70px 0;

		h3 {
			@include accent_font;
			color: $basic_color;
			margin-bottom: 35px;
		}

		.details {
			margin: 0 auto;

			h4 {
				@include accent_font;
				font-size: 45px;
				margin-bottom: 5px;
				color: $basic_color;

				i {
					color: $accent_color;
					font-size: 30px;
					margin-right: 5px;
				}

			}

			p {
				font-size: 15px;
				margin: 0 0 30px 0;
				width: auto;
				&:last-of-type {
					margin-bottom: 35px;
				}
			}

			span {

				@include accent_font;
				color: $basic_color;
				font-size: 45px;
			}
		}

		

			.offer_img {	
				margin: 35px auto;
				position: relative;
				min-height: 399px;
				overflow: hidden;

				.img_slides {
					position: absolute;
					transition: opacity .5s ease-in;
					left: 0;
					top: 0;
					right: 0;
					bottom: 0;
					max-width: 100%;
					height: auto;
					opacity: 0;
				}
			}

	}

	.facts {
		max-height: 50vh;
		background-image: url("https://images.pexels.com/photos/113338/pexels-photo-113338.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
		padding: 30px;

		.fact {
			width: auto;
			min-height: 250px;
			padding: 35px;
			margin: 0 auto;
			text-align: center;

			i {
				font-size: 60px;
				color: #fff;
				margin-bottom: 15px;
			}

			h4 {
				font-size: 40px;
				color: $accent_color;
				font-weight: 700;
			}

			p {
				@include accent_font;
				font-size: 45px;
				color: #fff;
				margin: 0;
				width: auto;
			}
		}
		
	}

	.team {
		padding: 50px;
		background-color: #fff;
		min-height: 80vh;

		h3 {
			@include accent_font;
			margin-bottom: 55px;
			color: $basic_color;
		}

		.person {
			width: 250px;
			height: 200px;
			margin: 0 auto;
			perspective: 1000px;
			background-color: transparent;
			border-radius: 10px;
			padding: 5px;

			.flip {
				position: relative;
				width: 100%;
				height: 100%;
				transition: transform 0.8s;
				transform-style: preserve-3d;

			}

			&:hover .flip {
				transform: rotateY(180deg);
			}

			.flip-front, .flip-back {
				position: absolute;
				width: 100%;
				height: 100%;
				backface-visibility: hidden;
			}

			.flip-front {
				img {
					width: 100%;
					height: 100%;
					border-radius: 10px;
				}
			}

			.flip-back {
				text-align: center;
				background-color: $basic_color;
				transform: rotateY(180deg);
				border-radius: 10px;

				h4 {
					color: #fff;
					margin-top: 50px;
				}

				p {
					color: #fff;
					font-size: 15px;
					text-align: center;	
					margin-top: 15px;
					margin-bottom: 0;
					width: auto;
					padding: 0;
				}

				i {
					color: #fff;
					font-size: 15px;
					margin: 10px;
					cursor: pointer;
					&:hover {
						transform: scale(1.3);
						color: $accent_color;
					}
				}
			}
 

		}
	}
}

//Gallery section

.gallery {
	@include section_params;

	h2 {
		margin: 0;
		padding: 15px;
		@include accent_font;
	}

	p {
		max-width: 600px;
		margin: 0 auto;
		font-size: 20px;
	}

	@keyframes zoom {
		from {
			transform: scale(0);
		}
		to {
			transform: scale(1);
		}
	}



	.modal {
		display: none;
		position: fixed;
		z-index: 1;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		overflow: hidden;
		background-color: rgba(0, 0, 0, .9);

		.modal_content  {
			margin: 85px auto;
			display: block;
			width: 80%;
			max-width: 700px;
			animation-name: zoom;
			animation-duration: .3s;
		}

		.close {
			position: absolute;
			top: 45px;
			right: 60px;
			color: #fff;
			font-size: 45px;
			&:hover {
				color: #ccc;
				text-decoration: none;
			}

		}
	}

	.gallery_imgs {
		padding: 30px;
			img {
				width: 300px;
				height: 210px;
				margin: 25px;
				cursor: pointer;
				transition: .5s;
				&:hover {
					opacity: .7;
				}
			}
		
	}
}

//Contact section

.contact {

	@include section_params;

	h2 {
		color: $basic_color;
		@include accent_font;
		padding: 15px;
		margin: 0;
	}

	.info {
		max-width: 400px;
		padding: 100px 50px;

		p {
			font-size: 20px;
			text-align: left;
			padding: 10px;

			i {
				font-size: 20px;
				color: $accent_color;
			}
		}
	}

	h3 {
		margin-top: 45px;
		font-size: 20px;
	}

	form {

		input { 
			display: block;
			margin: 20px auto;
			text-align: center;
			width: 200px;
			border: none;
			border-bottom: 1px solid #bbb;
			&:focus {
				outline: none;
				border-bottom: 1px solid $basic_color;
			}
			&.topic {
				max-width: 350px;
			}
		}

		textarea {
			display: block;
			margin: 20px auto;
			text-align: center;
			width: 350px;
			border: none;
			border-bottom: 1px solid #bbb;
			&:focus {
				outline: none;
				border-bottom: 1px solid $basic_color;
			}
		}

		button {
			background-color: $basic_color;
			padding: 5px 10px;
			border-radius: 5px;
			font-size: 15px;
			color: #fff;
			border: none;
			&:hover {
				background-color: $accent_color;
			}
		}
	}

	.socials {
		margin-top: 50px;
		i {
			font-size: 35px;
			color: $basic_color;
			margin: 10px;
			cursor: pointer;
			&:hover {
				transform: scale(1.3);
				color: $accent_color;
			}
		}
	}

}


//Footer

footer {
	background-color: $basic_color;
	text-align: center;
	height: 50px;
	line-height: 50px;
	color: #fff;
}


// Media

@media(max-width: 767px) {
	nav {
		text-align: center;
		padding: 20px 0;
	}

	.about {

		.desc {
			height: auto;
			max-width: 100%;
			padding-right: 10px;
			padding-left: 10px;

			.quote p {
				font-size: 35px;
				margin-bottom: 55px;
			}
		}

		.offer {
			margin: 55px 0;
			padding: 0 15px;
			height: auto;

			.details {
				padding: 0;

				h4 {
					font-size: 40px;
				}


			}

			.offer_img {
				display: none;
			}

		}

		.facts {
			background-image: none;
			background-color: $basic_color;
			height: auto;
		}

		.team {
			padding: 25px;

			.person {
				margin-bottom: 25px;
			}
		}
	}

	.gallery {
		padding: 50px 0;

		p {
			font-size: 18px;
		}
		
		.gallery_imgs {
			padding: 55px 0;
			img {
				pointer-events: none;
				margin: 15px auto;
				width: 270px;
				height: 180px;
			}
		}
	}

	.contact {
		padding: 50px 10px;

		h3 {
			padding-right: 0;
		}

		form {
			padding-right: 15px;
			margin-bottom: 80px;

			input {
				margin: 25px auto;
			}

			textarea {
				max-width: 200px;
			}
		}

		.info {
			padding: 55px 15px;
			max-width: 100%;

			p {
				font-size: 18px;
				text-align: center;

			}
		}
	}

}

@media(min-width: 768px) and (max-width: 992px) {
	.about {

		.offer {

			.offer_img {
				margin-top: 50px;

				.img_slides {
					margin: 0 auto;
				}
			}
		}

		.facts {
			padding-left: 0;
			padding-right: 0;
			overflow: hidden;

			.fact {
				padding-left: 0;
				padding-right: 0;

				i {
					font-size: 55px;
				}

				h4 {
					font-size: 35px;
				}

				p {
					font-size: 45px;
				}

			}
		}

		.team {
			.person {
				margin: 15px auto;
			}
		}
	}

	.gallery {

		.modal_content {
			span {
				top: 25px;
				right: 25px;
			}
		}

		.gallery_imgs {

			img {
				width: 600px;
				height: 399px;
				pointer-events: none;
			}
		}
	}

}